h1 {
    color: rgb(16, 68, 0);
}
h2{
    color: rgb(16, 68, 0);
}
h3{
    color: rgb(16, 68, 0);
}
h4 {
    color: rgb(16, 68, 0);
}

body {
    background-color: rgb(187, 187, 187);

    text-align: center;
}
.imagem1 {
    width: 40%;
}

.imagem2 {
    width: 40%;
}

.imagemcentralizada {
 text-align: center;
}


.lista {
    text-align: left;
        color: rgb(16, 68, 0);
    }

nav a{
    text-transform: uppercase;
    text-align: left;
    color: rgb(21, 66, 30);
    font-weight: 300;
    font-size: 100%;
    text-decoration: none ;
    border-color: rgb(9, 100, 21)16 100, 9, 24;
   padding: 5%;
   
}
nav a:hover {
    color: orange;
    text-decoration: underline;
}

footer {
    color: rgb(16, 68, 0);
}
